.navbar-nav{
    width: 100%;
    font-size: 40px;
}


@media(min-width:568px){
    .end{
        margin-left: 220px;
    }
}

.navbar-toggler{
	position: relative;
}
.navbar-toggler-icon{
	position: relative;
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
	.navbar-toggler{
		margin-left: 100px;
		margin-right: 20px;
		position: relative;
	}
}
li:hover{
    text-decoration: underline #a0e193;
}

#nav-items li a,#profile{
    text-decoration: none;
    background-color: black;
}

h1,h4,h5{
    color: white;
    font-weight: bold;
}
a{
    color: white!important;
    font-weight: bold;
}



.invulformulier{
	margin-top: 50px;
}
body{
    background-color: black;
}
.wrapper {
	max-width: 500px;
	width: 100%;
	background: rgb(80, 67, 67);
	margin: 20px auto;
	padding: 30px;
}
.wrapper .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #00dcff;
	text-transform: uppercase;
	text-align: center;
}
.wrapper .form .inputfield {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}
.wrapper .form .inputfield label {
	width: 200px;
	color: white;
	margin-right: 10px;
	font-size: 15px;
}
.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
	width: 100%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.wrapper .form .inputfield .textarea {
	width: 100%;
	height: 125px;
	resize: none;
}
.wrapper .form .inputfield .custom_select {
	position: relative;
	width: 100%;
	height: 37px;
}
.wrapper .form .inputfield .custom_select:before {
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	border: 8px solid;
	border-color: #0b0b45 transparent transparent transparent;
	pointer-events: none;
}
.wrapper .form .inputfield .custom_select select {
	appearance: none;
	outline: none;
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 8px 10px;
	font-size: 15px;
	border: 1px solid #d5dbd9;
	border-radius: 3px;
}
.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
	border: 1px solid #00dcff;
}
.wrapper .form .inputfield p {
	font-size: 14px;
	color: gray;
}
.wrapper .form .inputfield .check {
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.wrapper .form .inputfield .check .checkmark {
	width: 15px;
	height: 15px;
	border: 1px solid #00dcff;
	display: block;
	position: relative;
}
.wrapper .form .inputfield .check .checkmark:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 2px;
	border: 2px solid;
	border-color: transparent transparent #fff #fff;
	transform: rotate(-45deg);
	display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
	background-color: #00dcff;
}
.wrapper .form .inputfield .btn {
	width: 100%;
	padding: 8px 10px;
	font-size: 15px;
	border: 0px;
	background: black;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
}
.wrapper .form .inputfield .btn:hover {
	background: #0b0b45;
}
.neontext{
    color: white;
    padding-bottom: 20px;
}