body{
  font-family: 'Lato', sans-serif !important;
  background-color: #f5f7fb;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header{
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: none;
  border-color: transparent;
  background-color: transparent;
}

.header .navbar-brand img{
  height: 40px;
}

.header .navbar .navbar-nav .nav-link{
  color: #fff;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.header .navbar .navbar-nav .active > .nav-link{
  color: #fff !important;
  width: 100%;
  font-weight: 600;
}

.header .navbar .navbar-nav .nav-link:hover{
  color: #fff !important;
  width: 100%;
  font-weight: 600;
}

.header .navbar li {
  position: relative;
  line-height: 1em;
  padding: 10px 20px;
}

.header .navbar ul.navbar-nav li.nav-item.active:before, .header .navbar ul.navbar-nav li.nav-item:hover:before{
  content: "";
  height: 5px;
  margin: 0 auto;
  width: 90%;
  position: absolute;
  background-color: #fff;
  background: linear-gradient(45deg,#fff 0,#fff 100%);
  left: 0;
  top: 0;
  right: 0;
  border-radius: 10px;
}


.header .navbar .menu-item-list .dropdown-menu .dropdown-item{
 padding: 1rem 1.5rem;
}

.header .navbar .menu-item-list .dropdown-menu {
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.header .navbar .navbar-toggler {
  font-size: 24px;
  color: #fff;
  border: none;
}

.header .btn-login{
  padding-left: 20px;
  padding-right: 10px;
  color: #fff!important;
}

.header .sign-up{
  padding: 2px 15px;
}

.header .btn-outline-primary.sign-up{
  border-color: #fff!important;
  color: #fff !important;
  z-index: 9999;
}

.header a.btn-outline-primary.sign-up:hover{
  background: #ffffff!important;
  color: #2bff00!important;
  z-index: 9999;
}



/*section banner*/
.animation-2{
    display: grid;
    grid-template-columns: 30vw 50vw;
    z-index: 2;
}

.draakje{
      position: absolute;
      top: 300px;
      left: 500px;
      z-index: 1;
}
.contents{
}

section.banner{
  min-height: 650px;
  position: relative;
  overflow: hidden;
  padding: 180px 0 200px 0;
  background: black;
}

section.banner .contents{
  padding-top: 40px;
}

section.banner .contents .head-title{
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
  font-family: 'Arvo', serif;
}

section.banner .contents p{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 50px;
  line-height: 45px;
  color: #fff;
  z-index: 5;
}

section.banner .intro-img img{
  animation: float 5s infinite ease-in-out;
}

section.animation-box{
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*section 3*/

section.section-3.subscribe-form .input-group-append{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
}

.section-3 .btn-signin{
  color: #fff;
  height: 50px;
  background-image: linear-gradient(to right, #ff00cc 0%, #333399 51%, #ff00cc 100%);
}

.animatation-box-1 {
  position: relative;
}

.animated{
  position: absolute;
}

.icon1 {
  left: -138px;
  animation: LTRScale 5s infinite ease-in-out;
}
.icon2 {
  right: -60px;
}

.icon3{
  top: 500px;
  left: -20px;
  right: 30px;
  z-index: 1;
  height: 80px;
  animation: fadeRTL 4s infinite ease-in-out;
}

.animation-2{
  position: relative;
}

.animation-2 .intro-img{
  animation: float 3s ease infinite;
}

.animation-2 .icon-1{
  left: 300px;
  height: 30px;
  animation: fade-up 1.8s infinite ease-in-out;
}
/*auth-login-form*/


/*reponsive*/

@media (min-width: 1280px){
  .container {
    max-width: 85%;
  }
}

@media (max-width: 768px){
  .header .navbar .menu-item-list .dropdown-menu {
    margin-top: 10px;
  }
}

.header.shrink{
  background: #fff!important;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.06)!important;
}


.header.shrink .navbar .navbar-nav .nav-link{
  color: #22012f ;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.header.shrink .navbar .navbar-nav .active > .nav-link{
  color: #ff7a03 !important;
}

.header.shrink .navbar .navbar-nav .nav-link:hover{
  color: #ff7a03 !important;
}

.header.shrink .navbar ul.navbar-nav li.nav-item.active:before, .header.shrink .navbar ul.navbar-nav li.nav-item:hover:before{
  content: "";
  height: 5px;
  margin: 0 auto;
  width: 90%;
  position: absolute;
  background-color: #fea921;
  background-image: -webkit-linear-gradient(left,#ff7802 0%,#fea921 100%),-webkit-linear-gradient(left,#ff7802 0%,#fea921 100%);
  background-image: -moz-linear-gradient(left,#ff7802 0%,#fea921 100%),-moz-linear-gradient(left,#ff7802 0%,#fea921 100%);
  background-image: -o-linear-gradient(left,#ff7802 0%,#fea921 100%),-o-linear-gradient(left,#ff7802 0%,#fea921 100%);
  background-image: linear-gradient(to right,#ff7802 0%,#fea921 100%),linear-gradient(to right,#ff7802 0%,#fea921 100%);
}

.header.shrink .btn-login{
  color: #22012f!important;
  
}

.header.shrink .btn-login:hover{
  color: #fea921!important;
  font-weight: 600;
}

.header.shrink .sign-up{
  padding: 2px 15px;
}

.header.shrink .btn-outline-primary.sign-up{
  border-color: #8ad4b8!important;
  color: #22012f !important;
  z-index: 9999;
}

.header.shrink a.btn-outline-primary.sign-up:hover, .header a.btn-outline-primary.btn-statistics{
  font-weight: 600;
  color: #fff!important;
  z-index: 9999;
  border-color: #2bff00!important;
  background-color: #2bff00!important;
  background-image: -webkit-linear-gradient(left,#2bff00 0%,#2bff00 100%),-webkit-linear-gradient(left,#2bff00 0%,#2bff00 100%)!important;
  background-image: -moz-linear-gradient(left,#2bff00 0%,#2bff00 100%),-moz-linear-gradient(left,#2bff00 0%,#2bff00 100%)!important;
  background-image: -o-linear-gradient(left,#2bff00 0%,#2bff00 100%),-o-linear-gradient(left,#2bff00 0%,#2bff00 100%)!important;
  background-image: linear-gradient(to right,#2bff00 0%,#2bff00 100%),linear-gradient(to right,#2bff00 0%,#2bff00 100%)!important;
}

@media (max-width: 768px){
  .header .navbar .navbar-nav{
    margin:10px -35px 0px !important;
  }
  .header .navbar .navbar-nav li{
    line-height: 1em;
    padding: 8px 38px;
    border-bottom: 1px solid #ececec;
  }
  .header .navbar ul.navbar-nav li.nav-item.active:before, .header .navbar ul.navbar-nav li.nav-item:hover:before{
    display: none;
  }
  .header.shrink .navbar .navbar-toggler{
    color: #333;
  }
  .header .btn-login-signup{
    padding: 10px;
  }
  .header .btn-login{
    padding-left: 0px!important;
  }
  section.banner .box-image{
    margin-top: 150px!important;
  }
}
@media (min-width: 1280px){
  .container {
    max-width: 1200px;
  }
}
.auth-login-form{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../images/bg_auth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auth-login-form .form-login{
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 65px 55px 54px 55px;
}

.auth-login-form .form-login .site-logo{
  padding-bottom: 20px;
}

.auth-login-form .form-login .site-logo img{
  max-height: 60px;
}

.auth-login-form .form-login .btn-submit{
  height: 50px;
  color: #fff;
  text-transform: uppercase;
}
.btn-gradient {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
}

.btn-gradient:hover {
  background-position: right center;
}